/* *{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  height: 100vh;
  width: 100vw;
  /* */ */
/* } */



.section {
  color: blue;
}

/* .product-images{
  height: 200px;
  width: 250px;
  border: 1px solid transparent;
  border-radius: 10px;
}

.product-card {
  border: 1px solid transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 80px;
}

.productCard-btn {
  height: 40px;
  width: 60px;
  background-color: aqua;

 
}

.productCard-info {
  width: 180px;
  
} */


